API_ID=18232440
API_HASH=6e65ada395ebc5d243c6d2954992c932
BOT_TOKEN=7218649909:AAH6W8qvXoIV9R1nCRrUnnmZmHHDXvCe1xc
LOGGER_ID=-1002121629581
MONGO_DB_URI=mongodb+srv://meshoe3:meshoe3@cluster0.bvaskli.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=7155968755
STRING_SESSION=BAGi8fAArTR1VPkgLLVoL-bB0wa8_48B0ZDqBVtYpuypQiK1eYr6wYJ-6LM6MexwTQ2x1YesUW3vJEvPpTMetVdRCfPJNHgizeO84adSVMzGbAf8I6o1xiQ8GcwtJipjxAVccjzpQoXrORFzF_WCz3Vi4nQXDm4GVoi5zDS4VEeO4ETWE9LUrGYjWa_uxvcblbCpDcc9_vI3dqEX8fJz9I3AMiRsjdiLnkKvoTqa_govkwcvlDRLYWPSjz6Yaz9CqEiO2H3Dz5yh7vBtPFFO8UHCKyeP_5w6NIXGhZ7Y0DwIV2bY7sHmhnnt8K6IUN_L_bjPJCQdM8iEP8dKLEX2Huw7m8ELCAAAAAG1uuPiAA
